<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/lib/docsify-password.css">
  </head>

  <body class="docsify require-password-page">
    <main class="t-center">
      <div class="greeting-ctnr">
        <div class="greeting-img m-auto"></div>
        <h2>docsify</h2>
      </div>

      <form action="/password" method="POST" id="password-form">
        <div>
          <label>
            <p>A password is required :)</p>
            <p>To get access to this docsify, please provide the password.</p>
            <input type="password" name="value" id="password-input" placeholder="Password.">
          </label>
        </div>

        <div>
          <button class="submit-btn" type="submit">Submit</button>
          <p class="error-hint password-wrong">The password is wrong~ |・ω・`)</p>
          <p class="error-hint network-error">Something wrong with your network, please try again later~ |・ω・`)</p>
        </div>
      </form>

    </main>

    <div class="script-requirement">
      <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
      <script>
        (function () {
          var $passwordForm = $('#password-form')
          var $passwordInput = $('#password-input')
          var $passwordWrong = $('.error-hint.password-wrong')
          var $networkError = $('.error-hint.network-error')

          $passwordForm.on('submit', function (event) {
            event.preventDefault()
            login()
          })

          function login () {
            var password = $passwordInput.val()
            $.post('/password', { value: password }, 'json').done(function (result) {
              location.reload()
            }).fail(function (xhrObject) {
              if (xhrObject.status === 401) {
                showErrorHint($passwordWrong)
              } else {
                showErrorHint($networkError)
              }
            })
          }

          function showErrorHint ($hintDom) {
            $hintDom.fadeIn(200).delay(1500).fadeOut(200)
          }          
        })()
      </script>
    </div>
  </body>

</html>
